@import './assets/styles/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100vh;
    width: 100vw;
    overflow: hidden
}
#root{
  height: 100%;
  width: 100%;
  overflow: auto;
}
.text-gradient {
  font-size: 120px;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 10%,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 0.1) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.submit__button {
  /* background: radial-gradient(ellipse at 80% 20%, #65C724 10%, #000000 60%); */
  background-color: #65C724;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 14px 25px;
  cursor: pointer;
  text-align: center;
}

.form__input{
  border: 1px solid #E6E6E6;
  background-color: #F7F7F7;
  padding: 20px;
  color: #4D4D4D;
  border-radius: 3px;
  font-size: 20px;
}

.form__input:focus{
  outline: none;
}

.form_label{
  color: #808080;
  font-size: 16px;
}
.form_h2{
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: bold;
  color: #000000;

}

.step-indicator-container {
  background-color: #d9d9d9;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 100%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.back_button{
  font-size: 18px;
  color: #C6C6C6;
}
@media (max-width: 480px) {
  .text-gradient {
    font-size: 90px; 
    font-weight: 800;
  }
}

@media (min-width: 640px) {
  .submit__button, .back_button{
     padding: 12px 32px !important;
  }
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

select + i.fa {
  float: right;
  margin-top: -30px;
  margin-right: 5px;
  /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
  pointer-events: none;
  /* everything after this is just to cover up the original arrow */
  /* (for browsers that don't support the syntax used above) */
  background-color: #fff;
  padding-right: 5px;
}